@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: auto;
}


@media (max-width: 768px) {
  footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}